@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: 'ImperialScript';        
      src: url('/fonts/ImperialScript.ttf') format('truetype');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
  }
  @font-face {
      font-family: 'Atma';        
      src: url('/fonts/Atma/Atma-Regular.ttf') format('truetype');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
  }
  @font-face {
      font-family: 'Atma';        
      src: url('/fonts/Atma/Atma-Medium.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
}

.mobile-navbar-shadow {
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.40);
}